/*
*/

/*
    checkbox widget geometry
*/
.m-checkbox-box {
  display: flex;
  align-items: center;

  width: 95%;
  height: 25px;

  margin: 5px auto;

  padding-left: 5px;
  padding-bottom: 2px;

  background: var(--checkbox-box-background);
  box-shadow: 0 0 5px 1px var(--shadow);
  
  border-radius: 5px;
}

.m-checkbox {  
  width: 15px;
  height: 15px;

  background-color: var(--checkbox-background);
  box-shadow: 0 0 5px 1px var(--shadow);
  
  border-radius: 3px;
}

.m-checkbox-label {
  padding-left: 7px;
  color: var(--text-color-normal);
}


/*
checkbox widget custom states
*/
.m-checkbox:hover {
  cursor: pointer;
  background-color: var(--checkbox-background-hover);
}

.m-checkbox:checked {
  box-shadow: 0 0 2px 1px var(--colored-shadow);
  border: 3.5px solid var(--checkbox-border-checked);
  border-radius: 5px;
}

.m-checkbox:disabled {
  cursor: not-allowed;
  background-color: var(--checkbox-background-disabled);
}

.m-checkbox-label:disabled {
  cursor: not-allowed;
  color: var(--text-color-disabled);
}