/*
*/

/*
    panel header geometry
*/
.m-panel-header {
  width: 99.5%;
  height: 56px;
  
  background-color: var(--header-background);
  box-shadow: 0 0 5px 1px var(--shadow);
  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
  /* debug purposes only */
  /* border: 2px dashed rgb(255, 228, 72); */
}

/*
    panel widget geometry
*/
.m-panel {
  position: absolute;

  border: 1px solid var(--panel-border);
  background-color: var(--panel-background);

  box-shadow: 0 0 5px 1px var(--shadow);
  
  border-radius: 8px;

  /* debug purposes only */
  /* border: 2px dashed rgb(255, 109, 72); */
}

.m-panel-widget-area {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  /* prolly redundant cause i'm setting it globally on the file body but still, better be safe than sorry (im talking to you ultralight) */
  overflow-x: auto;
  overflow-y: auto;

  width: 99.5%;
  height: 89.5%;

  border-radius: 8px;

  /* debug purposes only */
  /* border: 2px dashed rgb(72, 75, 255); */
}

/*
    panel header custom states
*/
.m-panel-header:hover {
  cursor: grab;
}

.m-panel-header:active {
  cursor: grabbing;
  box-shadow: 0 0 3px 1px var(--shadow);
}
