/*
*/

/*
    button widget geometry
*/
.m-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95.5%;
  height: 40px;

  margin: 5px auto;

  font-weight: bold;
  
  color: var(--text-color-normal);

  box-shadow: 0 0 5px 1px var(--shadow);
  
  background-color: var(--button-background);
  border: 1px solid var(--button-border);

  border-radius: 5px;
}

/*
    button widget custom states
*/
.m-button:hover { 
  cursor: pointer;
}

.m-button:active {
  cursor: wait;

  color: var(--text-color-title);

  box-shadow: inset 0 0 5px 1px var(--colored-shadow);
}
