/*
*/

/*
    groupbox widget geometry
*/
.m-groupbox {
  position: relative;
  display: block;
  overflow-y: auto;

  margin: 15px;
  width: 380px;
  
  border: 1px solid var(--color-background1);
  box-shadow: 1px 1px 2px var(--color-shadow1), 0 1px 8px var(--color-shadow2);

  border-radius: 5px;
}

.m-groupbox-label {
  color: var(--header-text);
  text-shadow: 1px 1px 1px var(--color-shadow3);
  font-size: 14px;
  padding-left: 3px;
}
