/*
*/

/*
    slider widget geometry
*/
.m-slider-box {
  position: relative;
  display: block;

  margin: 15px;

  width: 154px;
  height: 25px;

  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;

  background: var(--color-background4);
  box-shadow: 1px 1px 1px var(--color-shadow1), 0 1px 8px var(--color-shadow2);
  
  border-radius: 4px;
  outline: none;
}

.m-slider {
  width: 150px;
  height: 5px;
  border-radius: 2px;
  background: rgba(97, 97, 97, 0.6);
  box-shadow: 1px 1px 1px var(--color-shadow1), 0 1px 8px var(--color-shadow2);
  outline: none;
}

.m-slider::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  border: 2px solid var(--color-background4);
  background: var(--color-background6);
  transition: ease-out 0.3s;

  -webkit-appearance: none;
}

/*
    slider widget state
*/
.m-slider::-webkit-slider-thumb:hover {
  background: var(--color-background3);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.m-slider::-webkit-slider-thumb:active {
  border: 3px solid var(--color-background1);
  transition: 0s;
  cursor: grabbing;
}

/*
    slider thumb geometry
*/
.m-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  border: 2px solid var(--color-background4);
  box-shadow: 1px 1px 1px var(--color-shadow1), 0 1px 8px var(--color-shadow2);
  background: rgba(97, 97, 97, 1.0);
  transition: ease-out 0.3s;
}

/*
    slider thumb state
*/
.m-slider::-moz-range-thumb:hover {
  background: var(--color-background3);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.m-slider::-moz-range-thumb:active {
  border: 3px solid var(--color-background1);
  transition: 0s;
  cursor: grabbing;
}
